.courses-info {
  $percantage: 5;
  width: 75rem;
  height: 75rem;
  border: $color-tertiary solid 0.1rem;
  position: relative;
  margin: 8rem;
  margin-right: 16rem;
  &__cart {
    position: absolute;
    &-1 {
      top: -$percantage * 1%;
      left: -$percantage * 1%;
    }
    &-2 {
      bottom: -$percantage * 1%;
      left: -$percantage * 1%;
    }
    &-3 {
      bottom: -$percantage * 1%;
      right: $percantage * 1%;
    }
    &-4 {
      top: $percantage * 1%;
      right: -$percantage * 1%;
    }
  }
}
