.header {
  direction: rtl;
  padding: 1.6rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-bottom: 0rem;
  border-bottom: 0.2rem solid rgba(209, 209, 209, 0.2);

  &__title {
    font-size: 2.4rem;
    color: $color-white;
  }

  &__links {
    &--link {
      display: flex;
      gap: 2.4rem;
      list-style: none;
      &-item {
        &-link {
          text-decoration: none;
          color: $color-white;
          font-size: 1.8rem;
        }
      }
    }
  }

  &__login {
    display: flex;
    gap: 1.6rem;
  }

  &__login-btn {
    text-decoration: none;
    color: $color-white;
    padding: 0.8rem 1.6rem;
    font-size: 1.8rem;
  }

  &__menu {
    width: 2.4rem;
    display: none;
    z-index: 10;
  }

  @media screen and (max-width: 640px) {
    padding: 1.6rem;
    &__links {
      display: none;
    }
    &__menu {
      display: unset;
    }
  }
}

.menu {
  display: none;
  @media screen and (max-width: 640px) {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #004458;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
